* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1400px;
  height: 900px;
  background: linear-gradient(-45deg, #264b34, #314938, #40694c, #05240d);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-full {
  width: 10%;
  height: 1px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  font-size: 35px;
  text-align: center;
  color: #F5DB27;
  transform: rotate(-90deg);
}

.memory-game {
  width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 0;
  perspective: 1000px;
}

.memory-game img {
  height: 200px;
}

.memory-card {
  width: calc(25%-10px);
  height: calc(33.3%-10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(97%);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #264b34;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back-face {
  width: 300px;
  height: 212px;
  border-radius: 5px;
  padding: 10px;
  background: #264b34;
  backface-visibility: hidden;
}
